<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <title>{% if session.get('lang') == 'en' %}Add Article{% else %}Ajouter un article{% endif %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">

    <style>
        .dark {
            background-color: #1a202c;
            color: #ffffff;
        }
        .dark .bg-white {
            background-color: #2d3748;
        }
        .dark svg {
            stroke: #ffffff;
        }
        header, footer {
            background-color: #2d3748;
        }
        .dark .table-header {
            background-color: #2d3748;
            color: #ffffff;
        }
        .dark .table-row {
            background-color: #4a5568;
            color: #ffffff;
        }
        .dark .bg-gray-50 {
            background-color: #4a5568;
        }
        .dark .text-gray-900 {
            color: #f7fafc;
        }
        .dark .text-blue-600 {
            color: #63b3ed;
        }
        .dark .bg-blue-500 {
            background-color: #3182ce;
        }
        .dark .bg-blue-700 {
            background-color: #2b6cb0;
        }
        .dark label {
    color: #ffffff;
}

    </style>
</head>
<body class="bg-gray-100 text-gray-900 flex flex-col min-h-screen">
 <div class="flex justify-end items-center absolute top-0 right-0 m-4">
        <svg id="theme-toggle-icon" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 27 27" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="cursor-pointer moon-icon">
            <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z" fill="black"/>
        </svg>
    </div>
<header class="bg-blue-600 text-white p-4 flex bg-white items-center justify-between">
    <div class="flex space-x-4">
        <a href="{{ url_for('change_language', lang='fr') }}" class="flag-icon flag-icon-fr text-2xl"></a>
        <a href="{{ url_for('change_language', lang='en') }}" class="flag-icon flag-icon-gb text-2xl"></a>
    </div>
    <h1 class="text-2xl font-bold flex-grow text-center">{% if session.get('lang') == 'en' %}Add Article{% else
        %}Ajouter un article{% endif %}</h1>
</header>
<main class="container mx-auto p-4 flex flex-col items-center justify-center flex-grow">
    <form action="{{ url_for('AjoutArticle') }}" method="post"
          class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-lg">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="nom_article">{% if session.get('lang') ==
                'en'
                %}Name{% else %}Nom{% endif %}</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   id="nom_article" name="nom_article" type="text"
                   placeholder="{% if session.get('lang') == 'en' %}Item name{% else %}Nom de l'article{% endif %}" required/>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="ref_article">{% if session.get('lang') ==
                'en' %}Reference{% else %}Référence{% endif %}</label>
            <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="ref_article" name="ref_article" type="text"
                    placeholder="{% if session.get('lang') == 'en' %}Article référence{% else %}Référence de l'article{% endif %}" required/>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="prix_article">{% if session.get('lang') ==
                'en'
                %}Price{% else %}Prix{% endif %}</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   id="prix_article" name="prix_article" type="number" step="0"
                   placeholder="{% if session.get('lang') == 'en' %}Item price{% else %}Prix de l'article{% endif %}" required/>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="theme_article">{% if session.get('lang') ==
                'en' %}Theme{% else %}Thème{% endif %}</label>
            <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="theme_article" name="theme_article" required>
                <option value="default">{% if session.get('lang') == 'en' %}Default{% else %}Défaut{% endif %}</option>
                <option value="livre">{% if session.get('lang') == 'en' %}Book{% else %}Livre{% endif %}</option>
                <option value="jeu_video">{% if session.get('lang') == 'en' %}Video Game{% else %}Jeu Vidéo{% endif %}
                </option>
                <option value="pc">{% if session.get('lang') == 'en' %}PC{% else %}PC{% endif %}</option>
                <option value="carte_graphique">{% if session.get('lang') == 'en' %}Graphics Card{% else %}Carte
                    Graphique{% endif %}
                </option>
            </select>
        </div>
        <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit">
                {% if session.get('lang') == 'en' %}Add{% else %}Ajouter{% endif %}
            </button>
        </div>
        {% if add %}
        <div class="mt-4">
            <p class="text-green text-center">{% if session.get('lang') == 'en' %}Article added !{% else %}Article
                ajouté !{% endif %}</p>
        </div>
        {% endif %}
    </form>
    <div class="mt-8">
        <a href="{{ url_for('home') }}"
           class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">{% if session.get('lang')
            == 'en' %}Back to Home{% else %}Retour à la page d'accueil{% endif %}</a>
    </div>
</main>
 <footer class="bg-blue-600 text-white p-4 text-center bg-white fixed bottom-0 w-full">
    <p>
        {% if session.get('lang') == 'en' %} Amazon Price Guessing Game {% else %} Juste Prix Amazon {% endif %}
    </p>
    <p>
        {% if session.get('lang') == 'en' %}
        Created by <a href="https://github.com/MatheoDalmasso" class="font-bold" target="_blank">Mathéo DALMASSO</a>,
        <a href="https://github.com/SimonCail" class="font-bold" target="_blank">Simon CAILLIERET</a>,
        <a href="https://github.com/Mathias92-cmd" class="font-bold" target="_blank">Mathias MOREL</a>,
        <a href="https://github.com/BenjaminC62" class="font-bold" target="_blank">Benjamin CORNET</a>
        {% else %}
        Réalisé par <a href="https://github.com/MatheoDalmasso" class="font-bold" target="_blank">Mathéo DALMASSO</a>,
        <a href="https://github.com/SimonCail" class="font-bold" target="_blank">Simon CAILLIERET</a>,
        <a href="https://github.com/Mathias92-cmd" class="font-bold" target="_blank">Mathias MOREL</a>,
        <a href="https://github.com/BenjaminC62" class="font-bold" target="_blank">Benjamin CORNET</a>
        {% endif %}
    </p>
</footer>
<script>
        const themeIcon = document.getElementById('theme-toggle-icon');
        const body = document.body;
        if (localStorage.getItem('dark-mode') === 'true') {
            body.classList.add('dark');
            updateIcon('dark');
        }
        themeIcon.addEventListener('click', () => {
            body.classList.toggle('dark');
            const isDarkMode = body.classList.contains('dark');
            localStorage.setItem('dark-mode', isDarkMode);
            updateIcon(isDarkMode ? 'dark' : 'light');
        });
        function updateIcon(mode) {
            if (mode === 'dark') {
                themeIcon.innerHTML = `
                    <circle cx="12" cy="12" r="5" fill="white"/>
                    <path d="M12 1v2M12 21v2M4.2 4.2l1.4 1.4M18.4 18.4l1.4 1.4M1 12h2M21 12h2M4.2 19.8l1.4-1.4M18.4 5.6l1.4-1.4" stroke="white"/>
                `;
            } else {
                themeIcon.innerHTML = `
                    <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z" fill="black"/>
                `;
            }
        }
    </script>
</body>
</html>