<!doctype html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if session.get('lang') == 'en' %}Amazon Price Guess{% else %}Juste prix Amazon{% endif %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
   <style>
    body {
        background-color: #f0f0f0; /* Couleur de fond par défaut */
    }

    .dark {
        background-color: #1a202c; /* Couleur de fond pour le mode sombre */
        color: #ffffff;
    }

    .highlight {
        background-color: #f0f8ff;
        padding: 10px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .highlight:hover {
        background-color: #e0e8ff;
    }

    .dark .highlight {
        background-color: #2d3748; /* Couleur de fond pour le mode sombre */
    }

    .dark .highlight:hover {
        background-color: #3b4758; /* Couleur de fond au survol pour le mode sombre */
    }
</style>
</head>
<body class="bg-gray-100 flex flex-col min-h-screen font-poppins">
    <header class="flex justify-between items-center p-4 bg-blue-600 shadow-md w-full">
        <div class="flex space-x-4">
            <a href="{{ url_for('leaderboard') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded block text-center transition duration-150 ease-in-out">
                Leaderboard
            </a>
            <a href="{{ url_for('change_language', lang='fr') }}" class="flag-icon flag-icon-fr text-2xl"></a>
            <a href="{{ url_for('change_language', lang='en') }}" class="flag-icon flag-icon-gb text-2xl"></a>
        </div>
        <div class="flex justify-between items-center space-x-4">
            {% if user %}
            <img class="w-10 h-10 rounded-full" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAACEklEQVR4nO2Yz0tUURTH7yLLjX9DrS1DECTnnJyFLmzhUggC3zkTtAjc1Oz7CxSHxJbqXgRxqeYm0HOyVVYQrQxa1KppWjX94DyGihyneXdG31XuBy48eD/4ft89955zrnORSCRyrhil/QEgrSDrAbDUbNg1ssyPlPSaC5WJmbeXgHQRSb4j689mA1jrSLLQP3Vw0YUmHkmfHie8iZHtoEwg6ZN2xf8Z8tiFEvOtwqZVOMG0XM1bv2ss2Ix/v2GCZC4EA698DSDJy7z1OyD54m9AqyEs4Kq3AdbPees/+yGELPPei5h1Nm/9zsqDNMN6bKPIe/0uBKw8yL6FasWFgpUFwLqVIfY3h+7t97iQMBNWHrQKpzT7klaCE/83Vh5YhrUdxnJEmifsmnU2mJiPRCKRSEcUk51eIJ1E1mUg+YQs75B1vN33MZExZHkDJB+AdMm+ZQcD7qQpJDKIpCvNegAg/YYkD4qPdi4c977dA9Jy+myT3gBZl3F693rXhReT3StIutZmkfYaWB5as18oPeuz0TjsKttf//835AeQrI6UXlzuivhCSe4gydcOui7PXkFqmOjtjsRjIjOnLRyPVK5630s8JHs3fBqV7s+E1m/efT6c3QDpRt7i8fcsyLqHAdseAxDP6QHYx8wG8haN/4xoAM/aDADp+2DWAMthdgOst0IwASyHmMhEZgORSCTiToNf59jNJJZ1QWQAAAAASUVORK5CYII=" alt="person-male">
            <span class="font-semibold">{{ user }}</span>
            <a href="{{url_for('logout')}}" class="text-blue-500 hover:text-blue-700">
                {% if session.get('lang') == 'en' %} Logout {% else %} Déconnexion {% endif %}
            </a>
            {% else %}
            <a href="{{url_for('login')}}" class="text-blue-500 hover:text-blue-700">
                {% if session.get('lang') == 'en' %} Login {% else %} Connexion {% endif %}
            </a>
            {% endif %}
            <div class="m-4">
                <svg id="theme-toggle-icon" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 27 27" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="cursor-pointer moon-icon">
                    <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z" fill="black"/>
                </svg>
            </div>
        </div>
    </header>
    <main class="flex-grow flex items-center justify-center">
        <div class="bg-white p-2 rounded shadow-md w-full max-w-lg section-central">
            <h1 class="text-3xl font-bold text-center mb-3">{% if session.get('lang') == 'en' %}Amazon Price Guess{% else %}Juste prix Amazon{% endif %}</h1>
            <h2 class="text-center text-lg font-semibold mt-4">{{ result }}</h2>
            <h2 class="text-center text-lg font-semibold mt-4">{% if session.get('lang') == 'en' %}Here is the item: {% else %}Voici l'article : {% endif %}{{ nom }}</h2>
            {% if image %}
            <img src="{{ image }}" width="100px" height="100px" alt="{% if session.get('lang') == 'en' %}item image{% else %}image de l'article{% endif %}" class="mx-auto">
            {% else %}
            <p class="text-center text-gray-500">{% if session.get('lang') == 'en' %}Image not available{% else %}Image non disponible{% endif %}</p>
            {% endif %}
            <div class="flex items-center justify-between mt-6 highlight">
                 <p class="text-lg font-medium">
                    {% if session.get('lang') == 'en' %}
                    Congratulations, you found the right price! You can play again if you want or you can register or log in to save your score :
                    {% else %}
                    Bravo, vous avez trouvé le juste prix! Vous pouvez rejouer si vous le souhaitez ou vous pouvez vous inscrire ou connecter pour enregistrer votre score :
                    {% endif %}
                </p>
            </div>
            {% if user == True %}
            <div class="flex items-center justify-center font-poppins">
                <div class="bg-white p-4 rounded shadow-md w-full max-w-md text-center">
                    <h1 class="text-2xl font-bold mb-4">{% if session.get('lang') == 'en' %}Choose your nickname{% else %}Choisissez votre pseudo{% endif %}</h1>
                    <div id="pseudo-display" class="text-4xl font-bold mb-6">AAA</div>
                    <p class="text-gray-600 mb-4">{% if session.get('lang') == 'en' %}Use the up and down arrows to change the letters, left and right to move to the next one.{% else %}Utilisez les flèches haut et bas pour changer les lettres, gauche et droite pour passer à la suivante.{% endif %}</p>
                    <button id="submit-pseudo" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">{% if session.get('lang') == 'en' %}Submit{% else %}Valider{% endif %}</button>
                </div>
            </div>
            {% endif %}
            {% if user == False %}
            <div class="flex justify-center items-center mt-4 space-x-4">
                <a href="{{ url_for('register') }}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">{% if session.get('lang') == 'en' %}Register{% else %}S'inscrire{% endif %}</a>
                <a href="{{ url_for('login') }}" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded">{% if session.get('lang') == 'en' %}Login{% else %}Se connecter{% endif %}</a>
                <a href="{{ url_for('home') }}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">{% if session.get('lang') == 'en' %}Play Again{% else %}Rejouer{% endif %}</a>
            </div>
            {% endif %}
        </div>
    </main>
    <footer class="bg-blue-600 text-white p-4 text-center w-full">
        <p>{% if session.get('lang') == 'en' %} Amazon Price is Right {% else %} Juste Prix Amazon {% endif %}</p>
        <p>{% if session.get('lang') == 'en' %} Created by {% else %} Réalisé par {% endif %}
            <a href="https://github.com/MatheoDalmasso" class="font-bold" target="_blank">Mathéo DALMASSO</a>,
            <a href="https://github.com/SimonCail" class="font-bold" target="_blank">Simon CAILLIERET</a>,
            <a href="https://github.com/Mathias92-cmd" class="font-bold" target="_blank">Mathias MOREL</a>,
            <a href="https://github.com/BenjaminC62" class="font-bold" target="_blank">Benjamin CORNET</a>
        </p>
    </footer>
    <script>
        const alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        let currentPseudo = ["A", "A", "A"];
        let currentIndex = 0;
        const pseudoDisplay = document.getElementById("pseudo-display");

        function updateDisplay() {
            pseudoDisplay.innerHTML = currentPseudo.map((letter, index) => {
                return `<span class="${index === currentIndex ? 'selected-letter' : ''}">${letter}</span>`;
            }).join("");
        }

        document.addEventListener("keydown", (event) => {
            if (event.key === "ArrowUp") {
                currentPseudo[currentIndex] = alphabet[(alphabet.indexOf(currentPseudo[currentIndex]) + 1) % alphabet.length];
            } else if (event.key === "ArrowDown") {
                currentPseudo[currentIndex] = alphabet[(alphabet.indexOf(currentPseudo[currentIndex]) - 1 + alphabet.length) % alphabet.length];
            } else if (event.key === "ArrowRight") {
                currentIndex = (currentIndex + 1) % currentPseudo.length;
            } else if (event.key === "ArrowLeft") {
                currentIndex = (currentIndex - 1 + currentPseudo.length) % currentPseudo.length;
            }
            updateDisplay();
        });

        document.getElementById("submit-pseudo").addEventListener("click", () => {
            const pseudo = currentPseudo.join("");
            fetch('/save_pseudo', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ pseudo }),
            })
            .then((response) => {
                if (response.ok) {
                    window.location.href = '/';
                } else {
                    return response.text().then((error) => {
                        throw new Error(error);
                    });
                }
            })
            .catch((error) => {
                console.error("Erreur lors de l'envoi du pseudo :", error);
                alert("Une erreur s'est produite !");
            });
        });

        updateDisplay();

        const themeIcon = document.getElementById('theme-toggle-icon');
        const body = document.body;
        if (localStorage.getItem('dark-mode') === 'true') {
            body.classList.add('dark');
            updateIcon('dark');
        }
        themeIcon.addEventListener('click', () => {
            body.classList.toggle('dark');
            const isDarkMode = body.classList.contains('dark');
            localStorage.setItem('dark-mode', isDarkMode);
            updateIcon(isDarkMode ? 'dark' : 'light');
        });

        function updateIcon(mode) {
            if (mode === 'dark') {
                themeIcon.innerHTML = `
                    <circle cx="12" cy="12" r="5" fill="white"/>
                    <path d="M12 1v2M12 21v2M4.2 4.2l1.4 1.4M18.4 18.4l1.4 1.4M1 12h2M21 12h2M4.2 19.8l1.4-1.4M18.4 5.6l1.4-1.4" stroke="white"/>
                `;
            } else {
                themeIcon.innerHTML = `
                    <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z" fill="black"/>
                `;
            }
        }
    </script>
    <style>
        .selected-letter {
            color: blue;
        }
    </style>
</body>
</html>