<!doctype html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if session.get('lang') == 'en' %}Amazon Price Guess{% else %}Juste prix Amazon{% endif %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen font-poppins">
<header class="bg-blue-600 text-white p-4 flex items-center justify-between w-full fixed top-0">
    <div class="flex space-x-4">
        <a href="{{ url_for('change_language', lang='fr') }}" class="flag-icon flag-icon-fr text-2xl"></a>
        <a href="{{ url_for('change_language', lang='en') }}" class="flag-icon flag-icon-gb text-2xl"></a>
    </div>
    <a href="{{ url_for('home') }}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
        {% if session.get('lang') == 'en' %}Home{% else %}Accueil{% endif %}
    </a>
</header>
<div class="bg-white p-2 rounded shadow-md w-full max-w-lg mt-16">
    <h1 class="text-3xl font-bold text-center mb-3">{% if session.get('lang') == 'en' %}Amazon Price Guess{% else
        %}Juste prix Amazon{% endif %}</h1>
    <form action="" method="post" class="space-y-4">
        <h2 class="text-center text-lg font-semibold mt-4">{{ result }}</h2>
        <h2 class="text-center text-lg font-semibold mt-4">{{ nom }}</h2>
        <h3 class="text-center text-lg font-semibold mt-4">Voici une fourchette du prix {% if prix-300 < 0 %} 0 {% else
            %} {{ (prix-300)|round(-2) }} {% endif %} - {{ (prix+300)|round(-2) }}</h3>
        {% if image %}
        <img src="{{ image }}" width="100px" height="100px"
             alt="{% if session.get('lang') == 'en' %}item image{% else %}image de l'article{% endif %}"
             class="mx-auto">
        {% else %}
        <p class="text-center text-gray-500">{% if session.get('lang') == 'en' %}Image not available{% else %}Image non
            disponible{% endif %}</p>
        {% endif %}
        <div class="flex justify-center">
            {{ form.csrf_token }}
            {{ form.prix_article.label }}: {{ form.prix_article() }}
        </div>
        <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            {% if session.get('lang') == 'en' %}Submit{% else %}Valider{% endif %}
        </button>
    </form>
</div>
</body>
<footer class="bg-blue-600 text-white p-4 text-center fixed bottom-0 w-full">
    <p>{% if session.get('lang') == 'en' %}Amazon Price Guess{% else %}Juste Prix Amazon{% endif %}</p>
    <p>{% if session.get('lang') == 'en' %}Created by{% else %}Réalisé par{% endif %} <a
            href="https://github.com/MatheoDalmasso" class="font-bold">Mathéo DALMASSO</a>,
        <a href="https://github.com/SimonCail" class="font-bold">Simon CAILLIERET</a>,
        <a href="https://github.com/Mathias92-cmd" class="font-bold">Mathias MOREL</a>,
        <a href="https://github.com/BenjaminC62" class="font-bold">Benjamin CORNET</a></p>
</footer>
</html>