<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page d'accueil</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-900  min-h-screen">
<header class="p-4 bg-white shadow-md w-full">
    <div class="flex justify-between items-center space-x-4">
        {% if user %}
        <img src="" alt="User Image" class="w-10 h-10 rounded-full">
        <span class="font-semibold">{{ user }}</span>
        <a href="{{url_for('logout')}}" class="text-blue-500 hover:text-blue-700">Déconnexion</a>
        {% else %}
        <a href="{{url_for('login')}}" class="text-blue-500 hover:text-blue-700">Connexion</a>
        {% endif %}
    </div>
</header>
<div class="bg-white shadow-md rounded-lg p-8 max-w-lg mx-auto">

    <h1 class="text-4xl font-bold mb-4 text-center">Juste prix amazon</h1>
    <p class="mb-2 text-center">Bienvenue sur le jeu du juste prix amazon</p>
    <p class="mb-2 text-center">Vous allez devoir deviner le prix d'un article sur amazon</p>
    <p class="mb-2 text-center">Si vous trouvez le juste prix, vous gagnez un point</p>
    <p class="mb-2 text-center">Si vous ne trouvez pas le juste prix, vous perdez un point</p>
    <p class="mb-2 text-center">Vous pouvez jouer autant de fois que vous le souhaitez</p>
    <br>
    <p class="mb-4 text-center">Vous pouvez commencer à jouer en cliquant sur le lien ci-dessous</p>

    <form action="" method="post" class="space-y-4 bg-gray-50 p-6 rounded-lg shadow-md">
        <div class="flex justify-center items-center space-x-2">
            {{ form.csrf_token }}
            <label class="font-semibold">{{ form.difficulty.label }} : </label>
            {{ form.difficulty(class="text-blue-600 transition duration-150 ease-in-out flex flex-row") }}
        </div>
        <button type="submit"
                class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded block text-center transition duration-150 ease-in-out">
            Jouer
        </button>
    </form>
    <div class="fixed top-4 left-4 z-10">
    <a href="{{ url_for('leaderboard') }}"
       class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded block text-center transition duration-150 ease-in-out">Afficher le classement</a>
</div>
</div>
<footer class="bg-blue-600 text-white p-4 text-center fixed bottom-0 w-full">
    <p>Juste Prix Amazon</p>
    <p>Réalisé par <a href="https://github.com/MatheoDalmasso" class="font-bold">Mathéo DALMASSO</a>,
        <a href="https://github.com/SimonCail" class="font-bold">Simon CAILLIERET</a>,
        <a href="https://github.com/Mathias92-cmd" class="font-bold">Mathias MOREL</a>,
        <a href="https://github.com/BenjaminC62" class="font-bold">Benjamin CORNET</a></p>
</footer>
</body>

</html>