<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page d'accueil</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
    <style>
        .dark {
            background-color: #1a202c;
            color: #ffffff;
        }
        .dark .bg-white {
            background-color: #2d3748;
        }
        .dark svg {
            stroke: #ffffff;
        }
        header, footer {
            background-color: #2d3748;
        }
        .dark .bg-gray-50 {
            background-color: #4a5568;
        }
        .dark .text-gray-900 {
            color: #f7fafc;
        }
        .dark .text-blue-600 {
            color: #63b3ed;
        }
        .dark .bg-blue-500 {
            background-color: #3182ce;
        }
        .dark .bg-blue-700 {
            background-color: #2b6cb0;
        }
    </style>
</head>
<body class="bg-gray-100 text-gray-900 min-h-screen">
<header class="flex justify-between items-center p-4 bg-white shadow-md w-full">
    <div class="flex space-x-4">
        <a href="{{ url_for('change_language', lang='fr') }}" class="flag-icon flag-icon-fr text-2xl"></a>
        <a href="{{ url_for('change_language', lang='en') }}" class="flag-icon flag-icon-gb text-2xl"></a>
        <a href="{{ url_for('leaderboard') }}"
           class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded block text-center transition duration-150 ease-in-out">
            {% if session.get('lang') == 'en' %} Show Leaderboard {% else %} Afficher le classement {% endif %}
        </a>
    </div>
    <div class="flex justify-between items-center space-x-4">

        {% if user %}
        <img class="w-10 h-10 rounded-full"
             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAACEklEQVR4nO2Yz0tUURTH7yLLjX9DrS1DECTnnJyFLmzhUggC3zkTtAjc1Oz7CxSHxJbqXgRxqeYm0HOyVVYQrQxa1KppWjX94DyGihyneXdG31XuBy48eD/4ft89955zrnORSCRyrhil/QEgrSDrAbDUbNg1ssyPlPSaC5WJmbeXgHQRSb4j689mA1jrSLLQP3Vw0YUmHkmfHie8iZHtoEwg6ZN2xf8Z8tiFEvOtwqZVOMG0XM1bv2ss2Ix/v2GCZC4EA698DSDJy7z1OyD54m9AqyEs4Kq3AdbPees/+yGELPPei5h1Nm/9zsqDNMN6bKPIe/0uBKw8yL6FasWFgpUFwLqVIfY3h+7t97iQMBNWHrQKpzT7klaCE/83Vh5YhrUdxnJEmifsmnU2mJiPRCKRSEcUk51eIJ1E1mUg+YQs75B1vN33MZExZHkDJB+AdMm+ZQcD7qQpJDKIpCvNegAg/YYkD4qPdi4c977dA9Jy+myT3gBZl3F693rXhReT3StIutZmkfYaWB5as18oPeuz0TjsKttf//835AeQrI6UXlzuivhCSe4gydcOui7PXkFqmOjtjsRjIjOnLRyPVK5630s8JHs3fBqV7s+E1m/efT6c3QDpRt7i8fcsyLqHAdseAxDP6QHYx8wG8haN/4xoAM/aDADp+2DWAMthdgOst0IwASyHmMhEZgORSCTiToNf59jNJJZ1QWQAAAAASUVORK5CYII="
             alt="person-male">
        <span class="font-semibold">{{ user }}</span>
        <a href="{{url_for('logout')}}" class="text-blue-500 hover:text-blue-700">
            {% if session.get('lang') == 'en' %} Logout {% else %} Déconnexion {% endif %}
        </a>
        {% else %}
        <a href="{{url_for('login')}}" class="text-blue-500 hover:text-blue-700">
            {% if session.get('lang') == 'en' %} Login {% else %} Connexion {% endif %}
        </a>
        {% endif %}
        <div class="m-4">
        <svg id="theme-toggle-icon" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 27 27" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="cursor-pointer moon-icon">
            <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z" fill="black"/>
        </svg>
        </div>
    </div>
</header>

<main class="flex items-center justify-center min-h-screen">
    <div class="bg-white shadow-md rounded-lg p-8 max-w-lg mx-auto text-center mb-48">
        {% if session.get('lang') == 'en' %}
        <h1 class="text-4xl font-bold mb-4 text-center">Amazon Price Guessing Game</h1>
        <p class="mb-2 text-center">Welcome to the Amazon Price Guessing Game</p>
        <p class="mb-2 text-center">You will have to guess the price of an item on Amazon</p>
        <p class="mb-2 text-center">If you guess the correct price, you earn a point</p>
        <p class="mb-2 text-center">If you do not guess the correct price, you lose a point</p>
        <p class="mb-2 text-center">You can play as many times as you want</p>
        <br>
        <p class="mb-4 text-center">You can start playing by clicking the link below</p>
        {% else %}
        <h1 class="text-4xl font-bold mb-4 text-center">Juste prix amazon</h1>
        <p class="mb-2 text-center">Bienvenue sur le jeu du juste prix amazon.</p>
        <p class="mb-2 text-center">Vous allez devoir deviner le prix d'un article sur amazon.</p>
        <p class="mb-2 text-center">Si vous trouvez le juste prix, vous gagnez un point.</p>
        <p class="mb-2 text-center">Si vous ne trouvez pas le juste prix, vous perdez un point.</p>
        <p class="mb-2 text-center">Vous pouvez jouer autant de fois que vous le souhaitez.</p>
        <br>
        <p class="mb-4 text-center">Vous pouvez commencer à jouer en cliquant sur le lien ci-dessous : </p>
        {% endif %}

        <form action="" method="post" class="space-y-4 bg-gray-50 p-6 rounded-lg shadow-md">
            <div class="flex justify-center items-center space-x-2">
                {{ form.csrf_token }}
                <label class="font-semibold">
                    {% if session.get('lang') == 'en' %} {{ form.difficulty.label }} {% else %} Difficulté {% endif %}
                </label>
                {{ form.difficulty(class="text-blue-600 transition duration-150 ease-in-out flex flex-row mx-8 gap-8")
                }}
            </div>

            <div class="flex justify-center items-center space-x-2">
                {{ form.csrf_token }}
                <label class="font-semibold">
                    {% if session.get('lang') == 'en' %} {{ form.theme.label }} {% else %} Thème {% endif %}
                </label>
                {{ form.theme(class="text-blue-600 transition duration-150 ease-in-out flex flex-row mx-8 gap-8") }}
            </div>
            <button type="submit"
                    class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded block text-center transition duration-150 ease-in-out">
                {% if session.get('lang') == 'en' %} Play {% else %} Jouer {% endif %}
            </button>
        </form>
        <div class="fixed top-4 left-4 z-10"></div>
        <a id="regles" href="{{url_for('rules')}}"
           class="fixed bottom-24 left-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"> {% if
            session.get('lang') == 'en' %} Show rules {% else %} Voir les règles {% endif %}</a>
        </div>
        <div class="fixed top-4 left-4 z-10"></div>
        <a id="ajouter_article" href="{{url_for('AjoutArticle')}}"
           class="fixed bottom-24 right-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"> {% if
            session.get('lang') == 'en' %} Add an article {% else %} Ajouter un article {% endif %}</a>
    </div>
</main>
<footer class="bg-blue-600 text-white p-4 text-center bg-white fixed bottom-0 w-full">
    <p>
        {% if session.get('lang') == 'en' %} Amazon Price Guessing Game {% else %} Juste Prix Amazon {% endif %}
    </p>
    <p>
        {% if session.get('lang') == 'en' %}
        Created by <a href="https://github.com/MatheoDalmasso" class="font-bold" target="_blank">Mathéo DALMASSO</a>,
        <a href="https://github.com/SimonCail" class="font-bold" target="_blank">Simon CAILLIERET</a>,
        <a href="https://github.com/Mathias92-cmd" class="font-bold" target="_blank">Mathias MOREL</a>,
        <a href="https://github.com/BenjaminC62" class="font-bold" target="_blank">Benjamin CORNET</a>
        {% else %}
        Réalisé par <a href="https://github.com/MatheoDalmasso" class="font-bold" target="_blank">Mathéo DALMASSO</a>,
        <a href="https://github.com/SimonCail" class="font-bold" target="_blank">Simon CAILLIERET</a>,
        <a href="https://github.com/Mathias92-cmd" class="font-bold" target="_blank">Mathias MOREL</a>,
        <a href="https://github.com/BenjaminC62" class="font-bold" target="_blank">Benjamin CORNET</a>
        {% endif %}
    </p>
</footer>
<script>
        const themeIcon = document.getElementById('theme-toggle-icon');
        const body = document.body;
        if (localStorage.getItem('dark-mode') === 'true') {
            body.classList.add('dark');
            updateIcon('dark');
        }
        themeIcon.addEventListener('click', () => {
            body.classList.toggle('dark');
            const isDarkMode = body.classList.contains('dark');
            localStorage.setItem('dark-mode', isDarkMode);
            updateIcon(isDarkMode ? 'dark' : 'light');
        });
        function updateIcon(mode) {
            if (mode === 'dark') {
                themeIcon.innerHTML = `
                    <circle cx="12" cy="12" r="5" fill="white"/>
                    <path d="M12 1v2M12 21v2M4.2 4.2l1.4 1.4M18.4 18.4l1.4 1.4M1 12h2M21 12h2M4.2 19.8l1.4-1.4M18.4 5.6l1.4-1.4" stroke="white"/>
                `;
            } else {
                themeIcon.innerHTML = `
                    <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z" fill="black"/>
                `;
            }
        }
    </script>
</body>
</html>